<script type="text/javascript" src="js/shared/asym_seq_generator.js"></script>

<div ng-controller="SequenceController">

    <h1>Graphic analysis</h1>
    <div id="sequenceControls">
        select: <select ng-model="selectedSequence" ng-options="s.name for s in activeSequences">
        </select>
            <span class="parameterControls">
                <label for="totalPulsesSlider">total pulses</label>
                <span class="controls">
                    <input id="totalPulsesSlider" type="range" min="2" max="16" ng-model="selectedSequence.pulses" step="{{sliderIncrement}}" ng-change="createSequence()" />
                    <span class="valueDisplay" ng-bind="selectedSequence.pulses"></span>
                </span>
            </span>
            <span class="parameterControls">
                <label for="splitPointSlider">split point</label>
                <span class="controls">
                    <input id="splitPointSlider" type="range" min="0" max="{{selectedSequence.pulses}}" ng-model="selectedSequence.split" step="{{sliderIncrement}}" ng-change="createSequence()" />
                    <span class="valueDisplay" ng-bind="selectedSequence.split"></span>
                </span>
            </span>
        <button id="testButton" ng-click="createSequence()" >Refresh</button>
    </div>
    <hr />
    <div ng-controller="GraphController">

    </div>
    <div id="graphContainer"></div>
    <hr />
    <section class="sequenceData">
        <div ng-repeat="(key,seq) in sequenceList" class="sequence">
            <h2>Sequence: {{ key }}</h2>
            <div ng-repeat="(evtKey, evtList) in seq" class="eventGroup">
                <h3>{{ evtKey }}</h3>
                <ul>
                    <li ng-repeat="evt in evtList">{{ evt.position }} <span ng-show="evt.args">- {{evt.args}}</span></li>
                </ul>
            </div>
        </div>
    </section>
</div>