#sequenceControls {
     max-width:95%;
}

#sequenceControls .parameterControls {
    display:block;
    white-space: nowrap;
    max-width:100%;
}

#sequenceControls .parameterControls label {
    display:inline-block;
    width:10%;
    min-width:6em;
    /*background-color: lemonchiffon;*/
}

#sequenceControls .parameterControls .controls {
    display:inline-block;
    /*background-color: pink;*/
    width:90%;
    padding:0;
}
#sequenceControls .parameterControls input[type="range"] {
    display:inline-block;
    position:relative;
    /*background-color: pink;*/
    width:90%;
}
#sequenceControls .parameterControls .valueDisplay {
    position:absolute;
    top:0;
    right:0;
    text-align:right;
    display:inline-block;
    /*background-color: chartreuse;*/
    width:1em;
}

#graphContainer {
    border:solid 2px palegreen;
    width:100%;
    overflow:hidden;
}

#graphContainer canvas {
    /*border:solid 1px magenta;*/
}

.sequenceData .sequence h2 {
    font-size:1.4em;
    color:black;
}

.sequenceData .sequence h3 {
    display:inline-block;
    font-size:1em;
    color:black;
    margin:0 1em 0 0;
}

.sequenceData .sequence h3:after {
    content: ": ";
}

.sequenceData .sequence .eventGroup {
    margin:0 0;
}

.sequenceData .sequence ul {
    display:inline-block;
    list-style-type: none;
    margin:0 0;
    padding:0 0;
    font-size:1em;
    color:black;
}

.sequenceData .sequence ul:before {
    content:"{ ";
}

.sequenceData .sequence ul:after {
    content:" }";
}

.sequenceData .sequence ul li {
    display:inline-block;
    font-size:1em;
    color:black;
    padding:0 0.5em 0 0;
}

.sequenceData .sequence ul li:after {
    content:", ";
}

.sequenceData .sequence ul li:last-child:after {
    content:"";
}