

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


div {
    position:relative;
}

canvas {
    position:relative;
}

span {
    position:relative;
}

label {
    display:inline-block;
}














